@import '../../../../assets/theme/variables';
.lyricLetter {
.-btngoback {
background: $p-color;
border: none;
border-radius: 5px;
color: $f-color;
margin-bottom: 20px;
margin-top: 20px;
padding: 12px;
}
}